<!DOCTYPE html>
<html> 
    <head>
        <title>Laboratory Schedule</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
      <div class="container-fluid text-center">    
        <div class="row content">
          <div class="col-sm-8 text-left"> 
            <h1>Welcome Administrator! </h1>
           
          </div>
          <div class="col-sm-2 sidenav">
            <div class="#">
                <button type="button" class="btn-block"> View Schedule </button>
            </div>
            <div class="#">
                <button type="button" class="btn-block"> View Students </button>
              </div>
            <div class="#">
              <button type="button" class="btn-block"> Edit Lab Time </button>
            </div>
            <div class="#">
              <button type="button" class="btn-block"> Edit Rotation Time </button>
            </div>
            <div class="#">
                <button type="button" class="btn-block"> Edit Equipment </button>
            </div>
            <div class="#">
              <button type="button" class="btn-block"> Logout</button>
          </div>
          </div>
        </div>
      </div>
      
      <footer class="container-fluid text-center">
        <p> Created by Wayhar Ngeth and Rahul Muthyala</p>
        <p> For Purposes of University of Georgia Capstone Design Project </p>
      </footer>
      
    </body>
</html>
      