<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Laboratory Scheduling</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/assets/css/Login-Form-Clean.css">
    <style>
        #mainNav {
            background: #5d9fa3;
        }
        table, td {
            border: 1px solid white;
            border-spacing: 5px;
            padding: 5px;
        }
        
    </style>
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-md navbar navbar-expand-lg static-top" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="#">Marine biological laboratory</a><button data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link active js-scroll-trigger" href="#home" style="border: 1px solid rgba(255,255,255,0.3)">home</a></li>
                    <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link js-scroll-trigger" href="#about" style="background: rgba(255,255,255,0.3); border: 1px solid rgba(255,255,255,0.3)">View Your Schedule</a></li>
                    <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link js-scroll-trigger" href="https://www.mbl.edu/" target="_blank" style="background: rgba(255,255,255,0.3); border: 1px solid rgba(255,255,255,0.3)"> Learn More</a></li>
                    <li class="nav-item nav-link js-scroll-trigger"><form method="POST"><button style="background: rgba(255,255,255,0.3);color: white; padding: 8px; border: 1px solid rgba(255,255,255,0.3);" >LOG OUT</button></form></li>
                    
                </ul> 
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url('assets/img/intro-bg.jpg');">
        <div class="intro-body" style="background: #5d9fa3;" id="home">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">welcome!</h1>
                        <p class="intro-text">Lab Students <br> View your schedule here. <br> Any questions should be directed to the lab administrator.</p><a class="btn btn-link btn-circle" role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Full Schedule</h2>
                    <table>
                        <tr>
                            <td>Date</td>
                            <td>Lab Name</td>
                            <td>Station Name</td>
                            <td>Start Time</td>
                            <td>End Time</td>
                            <td>Company</td>
                            <td>Student List</td>
                        </tr>
                        {% for item in schedule %}
                            <tr>
                                <td>{{ item["Date"] }}</td>
                                <td>{{ item["Lab Name"] }}</td>
                                <td>{{ item["Station Name"] }}</td>
                                <td>{{ item["Start Time"] }}</td>
                                <td>{{ item["End Time"] }}</td>
                                <td>{{ item["Company"] }}</td>
                                <td>{{ item["Student List"] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <h2 style="padding-top: 50px;">Your schedule&nbsp;</h2>
                    <table>
                        <tr>
                            <td>Date</td>
                            <td>Lab Name</td>
                            <td>Station Name</td>
                            <td>Start Time</td>
                            <td>End Time</td>
                            <td>Company</td>
                        </tr>
                        {% for item in student %}
                            <tr>
                                <td>{{ item["Date"] }}</td>
                                <td>{{ item["Lab Name"] }}</td>
                                <td>{{ item["Station Name"] }}</td>
                                <td>{{ item["Start Time"] }}</td>
                                <td>{{ item["End Time"] }}</td>
                                <td>{{ item["Company"] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container text-center">
            <p>Copyright © University of Georgia Capstone Design Project</p>
            <p>Created by Wayhar Ngeth and Rahul Muthyala</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/grayscale.js"></script>
</body>

</html>