<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Laboratory Scheduling</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/assets/css/Login-Form-Clean.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-md navbar navbar-expand-lg static-top" id="mainNav" style="background: #5d9fa3;">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="#">Marine biological laboratory</a><button data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item nav-link js-scroll-trigger"><form method="POST"><button name="button2" value="home" style="background: rgba(255,255,255,0.3);color: white; padding: 8px; border: 1px solid rgba(255,255,255,0.3);">HOME</button></form></li>
                    <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link js-scroll-trigger" href="#about" style="background: rgba(255,255,255,0.3); border: 1px solid rgba(255,255,255,0.3)">Edit Schedule</a></li>
                    <li class="nav-item nav-link js-scroll-trigger"><form method="POST"><button name="button2" value="logout" style="background: rgba(255,255,255,0.3);color: white; padding: 8px; border: 1px solid rgba(255,255,255,0.3);">LOG OUT</button></form></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url('assets/img/intro-bg.jpg');">
        <div class="intro-body" style="background: #5d9fa3;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="text-center brand-heading">edit lab</h1>
                        <p class="intro-text">Edit information about the different labs here</p><a class="btn btn-link btn-circle" role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="about" class="content-section text-center" style="padding: px;height: 720px;margin: 0px;width: 960px;">
        <!--start of form-->
        <form method="POST">
            <div class="container" style="height: 350px;border-width: 5px;border-style: solid;padding-top: 20px;margin: 5px;margin-left: 15px;margin-right: 15px;margin-top: -100px;">
                <div class="form-group row"><label class="col-2 col-form-label">Station Name</label>
                    <div class="col-8"><input class="form-control form-control" type="text"></div>
                </div>
                <div class="form-group row"><label class="col-2 col-form-label">Company Name</label>
                    <div class="col-8"><input class="form-control form-control" type="text"></div>
                </div>
                <div class="form-group row"><label class="col-2 col-form-label">Date</label>
                    <div class="col-8"><input class="form-control form-control" type="date"></div>
                </div>
                <div class="form-group row"><label class="col-2 col-form-label">Start Time</label>
                    <div class="col-8"><input class="form-control form-control" type="time"></div>
                </div>
                <div class="form-group row"><label class="col-2 col-form-label">End Time</label>
                    <div class="col-8"><input class="form-control form-control" type="time"></div>
                </div>
                <button class="btn btn-primary" type="button" name="submit_button">submit</button>
            </div>
        </form>
    </section>
    <footer>
        <div class="container text-center">
            <p>Copyright © University of Georgia Capstone Design Project</p>
            <p>Created by Wayhar Ngeth and Rahul Muthyala</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/grayscale.js"></script>
</body>

</html>