<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Laboratory Schedule </title>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="container-fluid"> 
            <div class="sidenav">
             </div>
             <div class="main">
                <div class="col-md-6 col-sm-12">
                   <div class="login-form">
                      <form method="POST">
                         <div class="form-group">
                            <label>Email</label>
                            <input name="user" type="text" class="form-control" placeholder="Email">
                         </div>
                         <div class="form-group">
                            <label>Password</label>
                            <input name="pass" type="password" class="form-control" placeholder="Password">
                         </div>
                         <button type="submit" class="btn btn-black">Login</button>
                      </form>
                   </div>
                </div>
                    <h5> Please Note: If you do not have an account, contact the lab administrator. </h5>  
             </div>
        </div>
    </body>
</html>